.description-container {
	font-family: 'Muli', sans-serif;
	display: flex;
	/* align-items: center; */
	justify-content: center;
	min-height: 45vh;
	margin: 0;
	margin-top: 4px;
	/* margin-left: 100px; */
	width: 60%;
	color: white;
}

.episode-container {
	font-family: 'Muli', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 45vh;
	margin: 0;
	width: 40%;
	color: white;
}

.movie {
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	width: 700px;
}

@media (max-width: 768px) {
	.movie {
		flex-direction: column;
		width: 100%;
	}

	.play-now {
		width: 100%;
	}

	.description-container {
		width: 100%;
	}

	.episode-container {
		width: 100%;
	}
}

.movie-description {
	text-transform: capitalize;
	display: inline-block;
	padding: 0 20px;
}
/* .movie-image {
	width: 20px;
	
} */

.year {
	font-weight: bold;
	font-size: 15px;
}
.mini-img {
	width: auto;
	height: 250px;
}

.tipe {
	border: 1px solid #ffffff;
	padding: 2px 5px;
	font-family: "Product Sans";
	border-radius: 4px;
	color:yellow;
}

.play-now {
	flex-direction: column;
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	width: 500px;
	position: relative;
}

.description {
	margin-top: 10px;
	font-size: 14px;
	text-align: justify;
	font-family: "Product Sans";
}

.img-play-now {
	position: absolute;
	top: 40%;
	align-self: center;
	color: white;
}

.arrow-right {
	position: absolute;
	right: 2%;
	top: 40%;
	font-size: 30px;
	align-self: center;
	color: #e50914;
}
